@model CarSales.Models.Car

@{
    ViewBag.Title = "Thank you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Thank you for submitting your query. We will get back to you ASAP</h3>
</div>

