@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CarSales Sample App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click Cars menu link to view the list of all available cars. C# objects are stored in web server cache Http Current Context.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enquiries from users</h2>
        <p>are recorded in /App_Data/EnquiryRecorder.txt file.</p>
    </div>
</div>