@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">We are sorry for inconvenience.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>@ViewBag.Message</h3>
